/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  font-family: 'Amatic SC', cursive;
  background-color: #F0F0F0;
}
#top-knot{
  height: 100px;
  padding-left: 1%;
  /* padding-bottom: 1%; */
}

.navbar{
  background-color: #3C486B;
  display: flex;
}
.navbar-title{
  color: #F45050;
  font-weight: bolder;
  font-size: xx-large;
}
.navbar-title:hover{
  color: #F9D949
}
.nav-link{
  font-size: large;
}
#navbarCollapse{
  margin-left: 75%;
}
.inside-nav{
  display: flex;
  flex-direction: row;
  width: 100%
}

form .btn{
  margin-left: .2rem;
  background-color: #F45050;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  background-color: #ffffff;
  border-bottom: dashed 1px #3C486B;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  color:#3C486B
}
#knot{
  color: #F45050;
  font-weight: bold;
}
/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.image-wrap{
  padding: 7% 20% 10% 25%;

  /* background-color: #F0F0F0; */
}
.top-cat{
  /* border-radius: 50% 20% / 10% 40%; */
  /* margin-top: 10%; */
  margin-left: 35%;
  margin-right: 50%;
  /* position: relative; */
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.btn{
  background-color: #19A7CE;
  border: none;
}
 .puppy-container{
  display: flex;
  flex-direction: row;
}

.teamwork{
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 27%;
 
}

.puppy{
  padding-top: 7%;
  padding-left: 5%;
  height: 175%;
  width: 100%;
  /* padding-botom: 8%; */
  /* padding-right: 50%; */
  /* background-color: #F0F0F0; */
  /* height: 50%;
  width: 50% */

}
.inside-puppy{
  display: flex;
  flex-direction: column;
}
.puppy-detangle {
  border-radius: 50% 20% / 10% 40%;
  margin-right: 50%;
  /* position: absolute */
  /* margin-top: 10%; */
  /* margin-right: 35%;
  /* margin-left: 50%; */
  height: 50%;
  width: 50% 
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  background-color: #3C486B;
  height: 25px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}